.grapes {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  font-size: 1.5rem;
  font-weight: 700;
  margin: 1rem 0rem;
  text-transform: uppercase;
}

.description {
  padding: 1rem 0;
  white-space: pre-line;
}

.grape {
  padding-right: 0.5rem;
}

@media screen and (max-width: 400px) {
  .grapes {
    font-size: 1.35rem;
  }
}
