@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400");
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Display");

.App {
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  width: 900px;
  min-width: 300px;
  background-color: #f5f3f4;
  border-radius: 30px;
  -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
  padding: 2rem 0rem;
  margin-top: 1rem;
  min-height: 500px;
}

.container {
  display: flex;
  flex-direction: column;
  padding: 0 3rem;
  text-align: center;
}

.error {
  padding: 0;
}

@media screen and (max-width: 916px) {
  .App {
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .container {
    padding: 0 2rem;
  }
}

@media screen and (max-width: 450px) {
  .container {
    padding: 0 1.8rem;
  }
}

@media screen and (max-width: 400px) {
  .container {
    padding: 0 1.25rem;
  }
}

@media screen and (max-width: 355px) {
  .container {
    padding: 0 0.5rem;
  }
}
