@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Display&display=swap");

.App {
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  min-height: 300px;
  width: 900px;
  background-color: #f5f3f4;
  border-radius: 30px;
  -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
  padding: 2rem 0rem;
  margin-top: 1rem;
  opacity: 0.8;
}

.container {
  display: flex;
  flex-direction: column;
  padding: 0 3rem;
  text-align: center;
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: "Big Shoulders Stencil Display", cursive;
  font-size: 4rem;
  text-align: center;
  color: #000;
  text-transform: uppercase;
  border-radius: 30px;
  padding: 0rem 0rem 2rem 0rem;
  margin-left: 3rem;
  cursor: pointer;
}

.search-bar {
  font-size: 1.5rem;
  text-align: center;
  padding: 5px 10px;
  margin: 1rem 1rem;
  border-radius: 30px;
  border: 0px;
  min-width: 500px;
}

.search-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.search-btn {
  color: #22223b;
  font-size: 2rem;
  border: 0px;
  border-radius: 50%;
  cursor: pointer;
}

.glass {
  font-size: 1.75rem;
  color: #fff;
  background-color: #a4161a;
  padding: 10px 15px;
  border-radius: 30rem;
  margin-right: 1rem;
}
.food {
  padding-bottom: 1rem;
}

.error {
  padding: 0rem 0rem 0rem 0rem;
}

.info {
  padding: 1rem 0rem 0rem 0rem;
}
