@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Display&display=swap");

.App {
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  width: 900px;
  min-width: 300px;
  background-color: #f5f3f4;
  border-radius: 30px;
  -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
  padding: 2rem 0rem;
  margin-top: 1rem;
  min-height: 500px;
}

.container {
  display: flex;
  flex-direction: column;
  padding: 0 3rem;
  text-align: center;
}

.food {
  padding-bottom: 1rem;
}

.error {
  padding: 0;
}

.info {
  padding-top: 1rem;
}

.how-it-works {
  text-align: center;
  margin-top: 130px;
  color: rgb(73, 71, 71);
}

.how-it-works p i {
  margin-right: 10px;
  opacity: 0.5;
  width: 16px;
  height: 16px;
}

@media screen and (max-width: 916px) {
  .App {
    width: 96vw;
  }
}

@media screen and (max-width: 600px) {
  .container {
    padding: 0 2rem;
  }

  .how-it-works {
    margin-top: 80px;
  }
}

@media screen and (max-width: 450px) {
  .container {
    padding: 0 1.8rem;
  }

  .how-it-works {
    font-size: 0.75rem;
  }

  .how-it-works p i {
    margin-right: 5px;
  }
}

@media screen and (max-width: 400px) {
  .container {
    padding: 0 1.25rem;
  }

  .food {
    padding-bottom: 0rem;
  }
}

@media screen and (max-width: 355px) {
  .container {
    padding: 0 0.5rem;
  }
}
