* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  min-width: 100vh;
  background-image: linear-gradient(
      to bottom,
      rgba(46, 46, 46, 0.7),
      rgba(0, 0, 0, 0.8)
    ),
    url(./img/background2.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
